@model EntityLayer.Concrete.Contact
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label>ID</label>
                    @Html.TextBoxFor(x => x.ContactID, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="form-group">
                    <label>Başlık</label>
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Açıklama</label>
                    @Html.TextAreaFor(x => x.Description, 8, 3, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Email</label>
                    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Telefon</label>
                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-success mr-2">Güncelle</button>
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Dashboard")'">İptal</button>
            </form>
        </div>
    </div>
</div>