@using EntityLayer.Concrete
@model List<SenderReceiverMessage>
@{
    ViewData["Title"] = "SenderMessageListDeatils";
    Layout = "/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card col-12 mx-auto">
    @for (int i = 0; i < Model.Count; i++)
    {
        @if (i == 0)
        {
            <div class="py-2 px-4 border-bottom d-none d-lg-block">
                <div class="d-flex align-items-center py-1">
                    <div class="flex-grow-1 pl-3">
                        <strong>@Model[i].ReceiverName</strong> [@Model[i].Sender]'dan <strong>@Model[i].SenderName</strong> [@Model[i].Receiver] kişisine
                    </div>
                </div>
            </div>
        }
        <div class="chat-message-left pb-4">
            <div class="text-muted small text-nowrap mt-2">@Model[i].Date.ToString("hh:mm tt")</div>
            <div class="flex-shrink-1 bg-dark rounded py-2 px-3 ml-3" style="word-wrap:break-word;">
                <div class="font-weight-bold mb-1">@Model[i].ReceiverName</div>
                <div class="font-weight-lighter">@Model[i].MessageContent</div>
            </div>
        </div>
        @if (i == Model.Count - 1)
        {
            <div class="flex-grow-0 py-3 px-4 border-top">
                <form method="post">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="hidden" name="Sender" value="@Model[0].Sender" />
                            <input type="hidden" name="Receiver" value="@Model[0].Receiver" />
                            <input type="text" class="form-control mr-2" name="Subject" placeholder="Konuyu yaz...">
                        </div>
                        <div class="input-group mt-2">
                            <input type="text" class="form-control" name="MessageContent" placeholder="Mesajın yaz...">
                        </div>
                        <br />
                        <button class="btn btn-primary ml-2">Gönder</button>
                    </div>
                </form>
            </div>
        }
    }
</div>
